.button{
    color:#FFFFFF ;
    display: flex;
    align-items:center ;
    justify-content: center;
    margin: 0px auto;
    
    background-color: #21092F;
    width: 327px;
    height: 43px;
    border-radius: 8px;
    border: none;
}